html {
  border: 4px solid black;
  height: 100%;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 32px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
/* Scroll buttons */
::-webkit-scrollbar-button {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
}

/* Up button */
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('../assets/arrow_up.png');
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}

/* Down button */
::-webkit-scrollbar-button:vertical:increment {
  background-image: url('../assets/arrow_down.png');
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}